.header{
  background: #fff;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  margin-bottom: 30px;
}

.header__inner{
  display: flex;
  align-items: center;
  gap: 30px;
  padding: 10px 0;
}
.header__nav{
  display: none;
  @media (min-width: 1080px) {
    display: flex;
  }
}

.header__menu{
  margin-left: auto;
}

