.profile{
  background: #fff;
  border-radius: 5px;
}



.profile__tab{
  padding: 15px 15px 40px;
  display: none;
  &.active{
    display: block;
  }
}
.profile__form{
  padding: 0;
}
.profile__title {
  font-size: 20px;
  margin-bottom: 15px;
  &.bold{
    font-weight: 700;
  }

}

.profile__text{
  font-size: 16px;
  font-weight: 500;
}

.profile-block{
  margin-bottom: 40px;
  &:last-child{
    margin-bottom: 0;
  }
}
.profile-block__title{
  margin-bottom: 15px;
  &.bold{
    font-weight: 700;
  }
}



.profile-block__content{
  display: grid;
  grid-template-columns: repeat(2, 1fr );
  gap: 15px;
}

.profile-task-list{
  display: flex;
  flex-direction: column;
  gap: 5px;
}

