.welcome{
  background: #fff;
  padding: 10px;
  border-radius: 5px;
  @media (min-width: 480px) {
    padding: 15px;
  }
}

.welcome__title{
  font-size: 22px;
  margin-bottom: 15px;
  text-align: center;
  font-weight: 500;
  @media (min-width: 480px) {
    font-size: 28px;
    margin-bottom: 30px;
  }
}

.welcome__intro{
  font-size: 14px;
  margin-bottom: 20px;
  @media (min-width: 480px) {
    font-size: 16px;
    margin-bottom: 50px;
  }
}

.welcome__text{
  margin-bottom: 10px;
  &:last-child{
    margin-bottom: 0;
  }
  @media (min-width: 480px) {
    margin-bottom: 20px;
  }

}
.welcome__call{
  text-align: center;
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  @media (min-width: 480px) {
    margin-bottom: 30px;
  }
}
.welcome__controls{
  flex-direction: column;
  display: flex;
  justify-content: space-between;
  gap: 10px;
  @media (min-width: 420px) {
    flex-direction: row;
    gap: 15px;
  }

  @media (min-width: 480px) {
    margin-bottom: 30px;
  }

}

