html{
  height: 100%;
}

body{
  height: 100%;
  background: #f0f0f0;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #222;
}

.app{
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

.container{
  max-width: 1470px;
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}

.small-container{
  max-width: 750px;
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}